<div class="container text-center">
   <h1 class="text text-warning  mb-3">Welcome To Boy Store Toy </h1>
   <br> 
  <img  src="images/home-store.jpg" height="400">
   <br> <br> 
   <a class="btn btn-danger" href="/boy/list">Buy Now</a>
   <p> </p> Welcome to our Boy Toy Store, your one-stop-shop for all things toys and games for boys! We offer a wide range of products that are specifically curated to meet the interests and needs of boys of all ages. From action figures to building sets, puzzles, board games, and more, we carry an extensive collection of toys that are perfect for fostering creativity, imagination, and learning.

Our selection of products focuses on high-quality, durable, and safe toys that are not only fun to play with, but also designed to spark curiosity, develop problem-solving skills, and encourage social interaction. We take pride in offering toys that engage young minds and help them develop important skills for the future.

At Boy Toy Store, we believe that playtime is an essential part of childhood, and we're committed to providing a fun, safe, and inspiring environment for boys to explore and learn. So whether you're a parent, grandparent, or friend looking for the perfect gift, or a boy who loves toys and games, we invite you to browse our collection and find the perfect toy for you!
</p>


</div>


